{
  "openapi": "3.0.0",
  "info": {
    "title": "Authentication API",
    "description": "API for user authentication and token generation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.retailreadyai.com",
      "description": "Production server"
    },
    {
      "url": "https://stg.retailreadyai.com",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/api/auth/token": {
      "post": {
        "summary": "Authenticate",
        "description": "Exchange email and password for a JWT access token",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User's email"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password",
                    "format": "password"
                  }
                },
                "required": ["email", "password"]
              },
              "example": {
                "email": "john@doe.com",
                "password": "JohnDoe123!"
              }
            }
          }
        },

        "responses": {
          "200": {
            "description": "Successfully generated access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "API token issued successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "description": "JWT access token"
                        },
                        "token_type": {
                          "type": "string",
                          "description": "Type of token"
                        },
                        "expires_in": {
                          "type": "integer",
                          "description": "Token expiration time in seconds"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "API token issued successfully",
                  "data": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "token_type": "Bearer",
                    "expires_in": 86400
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Missing parameters",
                  "error": {
                    "code": "INVALID_REQUEST"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid credentials"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Invalid credentials",
                  "error": {
                    "code": "INVALID_CREDENTIALS"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Internal server error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/documents/bol/{order_id}": {
      "post": {
        "summary": "Attach BOL to an order",
        "description": "Send a base 64 encoded PDF and attach it to an existing order",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the order to attach the BOL to"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_content": {
                    "type": "string",
                    "description": "Base 64 encoded PDF",
                    "example": "JVBERi0xL..."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "Name of the file",
                    "example": "bol.pdf"
                  },
                  "bill_of_lading_number": {
                    "type": "string",
                    "description": "Bill of Lading number",
                    "example": "12345689"
                  },
                  "pro_number": {
                    "type": "string",
                    "description": "Pro Number",
                    "example": "123-4567890"
                  },
                  "carrier": {
                    "type": "string",
                    "description": "Carrier",
                    "example": "UPS FREIGHT"
                  },
                  "carrier_alpha_code": {
                    "type": "string",
                    "description": "Carrier Alpha Code",
                    "example": "EXLA"
                  },
                  "scheduled_delivery_date": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                    "example": "2024-10-19 07:00:00",
                    "description": "Scheduled delivery date in format: YYYY-MM-DD HH:mm:ss"
                  }
                },
                "required": [
                  "file_content",
                  "file_name",
                  "bill_of_lading_number",
                  "pro_number",
                  "carrier",
                  "carrier_alpha_code"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully uploaded BOL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    }
                  }
                },
                "example": {
                  "message": "BOL uploaded successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Invalid Request - Missing required fields",
                  "error": {
                    "code": "INVALID_REQUEST"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Failed to upload BOL",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },

    "/api/v1/orders/{order_id}": {
      "get": {
        "summary": "Get Order Details",
        "description": "Get a breakdown of the pallets, cartons, and SKUs on an order",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the order"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order details retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "identifiers": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "944bf737-7860-4629-8933-d8e871f19d72"
                            },
                            "picksheet_code": {
                              "type": "string",
                              "example": "3132324301-9675"
                            },
                            "external_order_id": {
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "po_number": {
                              "type": "string",
                              "example": "3132324301"
                            },
                            "brand": {
                              "type": "object",
                              "properties": {
                                "external_brand_code": {
                                  "type": "string",
                                  "example": "d055c26e-fdb0-4b02-96ce-2b38ab3a6c8b",
                                  "nullable": true
                                }
                              }
                            },
                            "facility": {
                              "type": "object",
                              "properties": {
                                "external_facility_code": {
                                  "type": "string",
                                  "example": "c2f57b89-8d7c-4696-ab3c-02ca5eeef1a0",
                                  "nullable": true
                                }
                              }
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "example": "Packed"
                        },
                        "pallets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "26d9fa81-714a-43e2-a438-ec192b445f7e"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "staged_by": {
                                "type": "string",
                                "nullable": true,
                                "example": "John Doe"
                              },
                              "staged_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              },
                              "sscc": {
                                "type": "string",
                                "example": "00001234560000002822"
                              },
                              "status": {
                                "type": "string",
                                "example": "Loaded"
                              },
                              "cartonQuantity": {
                                "type": "integer",
                                "example": 1
                              },
                              "dim_unit": {
                                "type": "string",
                                "example": "in"
                              },
                              "height": {
                                "type": "number",
                                "example": 12
                              },
                              "width": {
                                "type": "number",
                                "example": 12
                              },
                              "length": {
                                "type": "number",
                                "example": 24
                              },
                              "weight_unit": {
                                "type": "string",
                                "example": "lb"
                              },
                              "weight": {
                                "type": "number",
                                "example": 15
                              },
                              "cartons": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "0eb578cd-c522-4ae0-8189-1419b58ddf96"
                                    },
                                    "sscc": {
                                      "type": "string",
                                      "example": "00001234560000002821"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "packed_by": {
                                      "type": "string",
                                      "nullable": true,
                                      "example": "John Doe"
                                    },
                                    "packing_complete_at": {
                                      "type": "string",
                                      "format": "date-time",
                                      "nullable": true
                                    },
                                    "dim_unit": {
                                      "type": "string",
                                      "example": "in"
                                    },
                                    "height": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "width": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "length": {
                                      "type": "number",
                                      "example": 20
                                    },
                                    "weight_unit": {
                                      "type": "string",
                                      "example": "lb"
                                    },
                                    "weight": {
                                      "type": "number",
                                      "example": 14
                                    },
                                    "skus": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "sku": {
                                            "type": "string",
                                            "example": "123"
                                          },
                                          "upc": {
                                            "type": "string",
                                            "example": "456"
                                          },
                                          "serial_numbers": {
                                            "type": "array",
                                            "nullable": true,
                                            "items": {
                                              "type": "string"
                                            },
                                            "example": [
                                              "123456789012345",
                                              "987654321098765",
                                              "456789012345678"
                                            ]
                                          },
                                          "quantity": {
                                            "type": "integer",
                                            "example": 3
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Authentication failed",
                  "error": {
                    "code": "UNAUTHORIZED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Order not found",
                  "error": {
                    "code": "NOT_FOUND"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Order details retrieval failed",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/orders/analytics/table": {
      "get": {
        "summary": "Get Orders Analytics Table",
        "description": "Fetches a paginated list of orders with analytics data.",
        "tags": ["Orders"],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          {
            "name": "page_size",
            "in": "query",
            "schema": { "type": "integer" }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "ship_window_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "ship_window_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "packed_at_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "packed_at_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "retailers",
            "in": "query",
            "schema": { "type": "string" }
          },
          { "name": "brands", "in": "query", "schema": { "type": "string" } },
          { "name": "asn", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of orders analytics table.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Orders analytics table retrieved successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "total_cartons": { "type": "integer", "example": 64 },
                          "total_labels": { "type": "integer", "example": 65 },
                          "unique_labels": { "type": "integer", "example": 65 },
                          "order_number": {
                            "type": "string",
                            "example": "0101109828"
                          },
                          "total_pallets": { "type": "integer", "example": 1 },
                          "unique_sku_count": { "type": "integer", "example": 1 },
                          "order_status": { "type": "string", "example": "Staged" },
                          "total_units": { "type": "integer", "example": 768 },
                          "total_vas_actions": { "type": "integer", "example": 0 },
                          "asn_sent_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      },
                      "example": [
                        {
                          "asn_sent_at": null,
                          "brand": "Brand1",
                          "total_cartons": 64,
                          "total_labels": 65,
                          "unique_labels": 65,
                          "order_number": "0101109828",
                          "total_pallets": 1,
                          "retailer": "Retailer1",
                          "unique_sku_count": 1,
                          "order_status": "Staged",
                          "total_units": 768,
                          "total_vas_actions": 0
                        },
                        {
                          "asn_sent_at": null,
                          "brand": "Brand1",
                          "total_cartons": 64,
                          "total_labels": 65,
                          "unique_labels": 65,
                          "order_number": "01009827",
                          "total_pallets": 1,
                          "retailer": "Retailer1",
                          "unique_sku_count": 1,
                          "order_status": "Staged",
                          "total_units": 768,
                          "total_vas_actions": 0
                        },
                        {
                          "asn_sent_at": "Fri, 07 Mar 2025 15:36:48 GMT",
                          "brand": "Brand1",
                          "total_cartons": 2,
                          "total_labels": 3,
                          "unique_labels": 3,
                          "Order ID": "01019824",
                          "total_pallets": 1,
                          "retailer": "Retailer1",
                          "unique_sku_count": 1,
                          "order_status": "Staged",
                          "total_units": 24,
                          "total_vas_actions": 0
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "error": {
                      "type": "object",
                      "properties": { "code": { "type": "string" } }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/compliance_report/binary/{order_id}": {
      "get": {
        "summary": "Get Compliance Report Binary",
        "description": "Get a compliance report binary for an order. This returns base64 encoded PDF content.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved compliance report binary",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string",
                      "description": "Suggested filename of the content",
                      "example": "compliance_report_g0f9e8d7-6i5j-4k3l-7m8n-9o0p4q5r6s7t.pdf"
                    },
                    "mime_type": {
                      "type": "string",
                      "description": "MIME type of the content",
                      "example": "application/pdf"
                    },
                    "pdf_content": {
                      "type": "string",
                      "description": "Base64 encoded PDF content",
                      "example": "JVBERi0xL..."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Authentication failed",
                  "error": {
                    "code": "UNAUTHORIZED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Compliance report not found for this order",
                  "error": {
                    "code": "NOT_FOUND"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": "Failed to generate compliance report: Order not found",
                  "order_id": "g0f9e8d7-6i5j-4k3l-7m8n-9o0p4q5r6s7t"
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "User's username"
          },
          "password": {
            "type": "string",
            "description": "User's password",
            "format": "password"
          }
        },
        "required": ["username", "password"]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token"
          },
          "token_type": {
            "type": "string",
            "description": "Type of token"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
