{
  "openapi": "3.0.0",
  "info": {
    "title": "Authentication API",
    "description": "API for user authentication and token generation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.retailreadyai.com",
      "description": "Production server"
    },
    {
      "url": "https://stg.retailreadyai.com",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/api/auth/token": {
      "post": {
        "summary": "Authenticate",
        "description": "Exchange email and password for a JWT access token",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User's email"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password",
                    "format": "password"
                  }
                },
                "required": ["email", "password"]
              },
              "example": {
                "email": "john@doe.com",
                "password": "JohnDoe123!"
              }
            }
          }
        },

        "responses": {
          "200": {
            "description": "Successfully generated access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "API token issued successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "description": "JWT access token"
                        },
                        "token_type": {
                          "type": "string",
                          "description": "Type of token"
                        },
                        "expires_in": {
                          "type": "integer",
                          "description": "Token expiration time in seconds"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "API token issued successfully",
                  "data": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "token_type": "Bearer",
                    "expires_in": 86400
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Missing parameters",
                  "error": {
                    "code": "INVALID_REQUEST"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid credentials"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Invalid credentials",
                  "error": {
                    "code": "INVALID_CREDENTIALS"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Internal server error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/documents/bol/{order_id}": {
      "post": {
        "summary": "Attach BOL to an order",
        "description": "Send a base 64 encoded PDF and attach it to an existing order",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the order to attach the BOL to"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_content": {
                    "type": "string",
                    "description": "Base 64 encoded PDF",
                    "example": "JVBERi0xL..."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "Name of the file",
                    "example": "bol.pdf"
                  },
                  "bill_of_lading_number": {
                    "type": "string",
                    "description": "Bill of Lading number",
                    "example": "12345689"
                  },
                  "pro_number": {
                    "type": "string",
                    "description": "Pro Number",
                    "example": "123-4567890"
                  },
                  "carrier": {
                    "type": "string",
                    "description": "Carrier",
                    "example": "UPS FREIGHT"
                  },
                  "carrier_alpha_code": {
                    "type": "string",
                    "description": "Carrier Alpha Code",
                    "example": "EXLA"
                  },
                  "scheduled_delivery_date": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                    "example": "2024-10-19 07:00:00",
                    "description": "Scheduled delivery date in format: YYYY-MM-DD HH:mm:ss"
                  }
                },
                "required": [
                  "file_content",
                  "file_name",
                  "bill_of_lading_number",
                  "pro_number",
                  "carrier",
                  "carrier_alpha_code"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully uploaded BOL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    }
                  }
                },
                "example": {
                  "message": "BOL uploaded successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Invalid Request - Missing required fields",
                  "error": {
                    "code": "INVALID_REQUEST"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Failed to upload BOL",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user-facilities/v1/facilities": {
      "get": {
        "summary": "Get Facility Ids",
        "description": "Get a list of your facilities and their ids",
        "tags": ["Facilities"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved facilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier for the facility"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the facility"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "a7f92e51-3b8c-42d9-95e8-fb16c89a7432",
                      "name": "LogisticsPro NYC"
                    },
                    {
                      "id": "b9e71d24-6a5f-48c3-b742-e09d3c8f5a10",
                      "name": "LogisticsPro LAX"
                    },
                    {
                      "id": "c4e82f17-9d3b-47a6-8e59-2f0a13b5d879",
                      "name": "LogisticsPro CHI"
                    },
                    {
                      "id": "d2f61c39-5e7a-4b84-9c31-8d07a5e32b46",
                      "name": "LogisticsPro ATL"
                    }
                  ],
                  "message": "Facilities fetched"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Authentication failed",
                  "error": {
                    "code": "UNAUTHORIZED"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Error fetching facilities",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/facility/brands": {
      "get": {
        "summary": "Get Brand Ids",
        "description": "Get a list of your brands and their ids",
        "tags": ["Facilities"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved brands",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brand_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier for the brand"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the brand"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "brand_id": "a7e92c51-4b8c-42d9-95e8-fb16c89a7432",
                      "name": "Acme Outdoor"
                    },
                    {
                      "brand_id": "b9e71d24-6a5f-48c3-b742-e09d3c8f5a10",
                      "name": "TechGear Pro"
                    },
                    {
                      "brand_id": "c4e82f17-9d3b-47a6-8e59-2f0a13b5d879",
                      "name": "EcoStyle"
                    },
                    {
                      "brand_id": "d2f61c39-5e7a-4b84-9c31-8d07a5e32b46",
                      "name": "NorthStar Athletics"
                    }
                  ],
                  "message": "Brands and IDs retrieved successfully"
                }
              }
            }
          },
          "404": {
            "description": "No brands found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "No brands found",
                  "error": {
                    "code": "NO_BRANDS_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/item-master": {
      "post": {
        "summary": "Upload Item Master Data",
        "description": "Upload or update item master data for SKUs",
        "tags": ["Item Master"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "sku": {
                              "type": "string",
                              "description": "Stock Keeping Unit identifier",
                              "example": "SKU-001"
                              },
                            "upc": {
                              "type": "string",
                              "description": "Universal Product Code",
                              "example": "UPC-001"
                            },
                            "case_pack_quantity": {
                              "type": "integer",
                              "description": "Number of units in a case",
                              "example": 12
                            },
                            "case_barcode": {
                              "type": "string",
                              "description": "Barcode for the case",
                              "example": "CASE-001"
                            },
                            "brand_id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "UUID of the brand",
                              "example": "074b6f57-0b93-4899-9fc5-7e89c35fc0ba"
                            },
                            "facility_id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "UUID of the facility",
                              "example": "77dcdcab-46cf-4a82-ae29-f0d3afbb1b45"
                            },
                            "height": {
                              "type": "integer",
                              "description": "Height of the item in inches",
                              "example": 10
                            },
                            "width": {
                              "type": "integer",
                              "description": "Width of the item in inches",
                              "example": 15
                            },
                            "length": {
                              "type": "integer",
                              "description": "Length of the item in inches",
                              "example": 20
                            },
                            "weight": {
                              "type": "integer",
                              "description": "Weight of the item in pounds",
                              "example": 5
                            },
                            "cases_per_layer": {
                              "type": "integer",
                              "description": "Number of cases per layer on a pallet",
                              "example": 8
                            },
                            "layers_per_pallet": {
                              "type": "integer",
                              "description": "Number of layers per pallet",
                              "example": 4
                            },
                            "pallet_height": {
                              "type": "integer",
                              "description": "Height of a full pallet in inches",
                              "example": 120
                            },
                            "pallet_weight": {
                              "type": "integer",
                              "description": "Weight of a full pallet in pounds",
                              "example": 200
                            },
                            "lot_tracked": {
                              "type": "boolean",
                              "description": "Whether the item is tracked by lot number",
                              "example": true
                            },
                            "exp_tracked": {
                              "type": "boolean",
                              "description": "Whether the item is tracked by expiration date",
                              "example": false
                            }
                          },
                        
                        "required": [
                          "sku",
                          "upc",
                          "case_pack_quantity",
                          "case_barcode",
                          "brand_id",
                          "facility_id"
                        
                      ]
                    }
                  }
                },
                "required": ["data"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Items created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message indicating number of items created/updated"
                    }
                  }
                },
                "examples": {
                  "created": {
                    "value": {
                      "message": "Created 1 items."
                    }
                  },
                  "updated": {
                    "value": {
                      "message": "Updated 1 items."
                    }
                  },
                  "noChanges": {
                    "value": {
                      "message": "No changes were made to the item master."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "UPC UPC-001 must be the same as the existing UPC UPC-003 for SKU SKU-003 in item 0",
                  "error": {
                    "code": "INVALID_REQUEST"
                  }
                }
              }
            }
          }
        }
      }
    },
    
    "/api/v1/orders/create": {
      
        "post": {
          "summary": "Create Order",
          "description": "Create a new order with items, dates, and address information",
          "tags": ["Orders"],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warehouse_order_number": {
                      "type": "string",
                      "description": "Warehouse order number",
                      "example": "some-order-number"
                    },
                    "dc_number": {
                      "type": "string",
                      "description": "DC number",
                      "example": "some-dc-number"
                    },
                    "po_number": {
                      "type": "string",
                      "description": "Purchase order number",
                      "example": "some-po-number"
                    },
                    "external_order_number": {
                      "type": "string",
                      "description": "Customer's order number",
                      "example": "some-customer-order-number"
                    },
                    "brand_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUID of the brand",
                      "example": "952a9a67-6738-476e-a763-4855c51cc3f7"
                    },
                    "dept_number": {
                      "type": "string",
                      "description": "Department number",
                      "example": "123456"
                    },
                    "purchase_order_type": {
                      "type": "string",
                      "description": "Type of purchase order",
                      "example": "Test Department"
                    },
                    "retailer_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUID of the retailer",
                      "example": "d11dd469-a41b-4f7e-9155-f97b00e03567"
                    },
                    "transportation_method": {
                      "type": "string",
                      "description": "Method of transportation",
                      "example": "FREIGHT"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string",
                            "description": "Stock Keeping Unit",
                            "example": "pillow-sku"
                          },
                          "upc": {
                            "type": "string",
                            "description": "Universal Product Code",
                            "example": "pillow-upc"
                          },
                          "quantity": {
                            "type": "integer",
                            "description": "Quantity of items",
                            "example": 5
                          },
                          "case_pack_quantity": {
                            "type": "integer",
                            "description": "Number of items per case",
                            "example": 5
                          },
                          "case_barcode": {
                            "type": "string",
                            "description": "Barcode for the case",
                            "example": "pillow-case-upc"
                          },
                          "vendor_pn": {
                            "type": "string",
                            "description": "Vendor part number",
                            "example": "vendor-part-number"
                          },
                          "description": {
                            "type": "string",
                            "description": "Product description",
                            "example": "soft pillows"
                          }
                        },
                        "required": ["upc", "quantity", "case_pack_quantity", "case_barcode"]
                      }
                    },
                    "dates": {
                      "type": "object",
                      "properties": {
                        "requested_delivery_date": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-08-15"
                        },
                        "earliest_delivery_date": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-08-10"
                        },
                        "latest_delivery_date": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-08-20"
                        },
                        "earliest_ship_date": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-08-05"
                        },
                        "latest_ship_date": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-08-12"
                        },
                        "cancel_by_date": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-08-25"
                        },
                        "requested_ship_date": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-08-08"
                        },
                        "stage_by": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-08-01"
                        }
                      }
                    },
                    "address_data": {
                      "type": "object",
                      "properties": {
                        "ship_from_contact": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Test 3PL"
                            },
                            "address_line1": {
                              "type": "string",
                              "example": "123 York St"
                            },
                            "address_line2": {
                              "type": "string",
                              "nullable": true
                            },
                            "city": {
                              "type": "string",
                              "example": "San Francisco"
                            },
                            "state": {
                              "type": "string",
                              "example": "CA"
                            },
                            "country": {
                              "type": "string",
                              "example": "USA"
                            },
                            "zip": {
                              "type": "string",
                              "example": "94133"
                            },
                            "facility_code": {
                              "type": "string",
                              "example": "9431"
                            }
                          },
                          "required": ["name", "address_line1", "city", "state", "country", "zip"]
                        },
                        "ship_to_contact": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Test Retailer"
                            },
                            "address_line1": {
                              "type": "string",
                              "example": "123 Union St"
                            },
                            "address_line2": {
                              "type": "string",
                              "nullable": true
                            },
                            "city": {
                              "type": "string",
                              "example": "New York"
                            },
                            "province": {
                              "type": "string",
                              "example": "NY"
                            },
                            "country": {
                              "type": "string",
                              "example": "United States"
                            },
                            "zip": {
                              "type": "string",
                              "example": "10001"
                            },
                            "address_number": {
                              "type": "string",
                              "example": "1234"
                            }
                          },
                          "required": ["name", "address_line1", "city", "province", "country", "zip"]
                        },
                        "bill_to_contact": {
                          "$ref": "#/components/schemas/Address"
                        },
                        "mark_for_contact": {
                          "$ref": "#/components/schemas/Address"
                        }
                      },
                      "required": ["ship_from_contact", "ship_to_contact"]
                    }
                  },
                  "required": [
                    "retailer_id",
                    "brand_id",
                    "warehouse_order_number",
                    "po_number"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Order created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Order created successfully"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "case_barcode": {
                                  "type": "string"
                                },
                                "case_pack_quantity": {
                                  "type": "integer"
                                },
                                "product_desc": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "integer"
                                },
                                "sku": {
                                  "type": "string"
                                },
                                "upc": {
                                  "type": "string"
                                },
                                "vendor_pn": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "order": {
                            "type": "object",
                            "properties": {
                              "Z7_address_location_number": {
                                "type": "string",
                                "example": "1234"
                              },
                              "bill_to_contact_address_line1": {
                                "type": "string",
                                "example": "123 Union St"
                              },
                              "bill_to_contact_address_line2": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "bill_to_contact_city": {
                                "type": "string",
                                "example": "New York"
                              },
                              "bill_to_contact_country": {
                                "type": "string",
                                "example": "United States"
                              },
                              "bill_to_contact_name": {
                                "type": "string",
                                "example": "Test Retailer"
                              },
                              "bill_to_contact_province": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "bill_to_contact_zip": {
                                "type": "string",
                                "example": "10001"
                              },
                              "brand_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "952a9a67-6738-476e-a763-4855c51cc3f7"
                              },
                              "cancel_by_date": {
                                "type": "string",
                                "format": "date-time",
                                "example": "Sun, 25 Aug 2024 00:00:00 GMT"
                              },
                              "dept_number": {
                                "type": "string",
                                "example": "123456"
                              },
                              "earliest_delivery_date": {
                                "type": "string",
                                "format": "date-time",
                                "example": "Sat, 10 Aug 2024 00:00:00 GMT"
                              },
                              "earliest_ship_date": {
                                "type": "string",
                                "format": "date-time",
                                "example": "Mon, 05 Aug 2024 00:00:00 GMT"
                              },
                              "external_order_number": {
                                "type": "string",
                                "example": "some-customer-order-number"
                              },
                              "facility_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "88dcdcab-46cf-4a82-ae29-f0d3afbb1b45"
                              },
                              "latest_delivery_date": {
                                "type": "string",
                                "format": "date-time",
                                "example": "Tue, 20 Aug 2024 00:00:00 GMT"
                              },
                              "latest_ship_date": {
                                "type": "string",
                                "format": "date-time",
                                "example": "Mon, 12 Aug 2024 00:00:00 GMT"
                              },
                              "merchant": {
                                "type": "string",
                                "example": "Home Depot"
                              },
                              "picksheet_code": {
                                "type": "string",
                                "example": "some-order-number"
                              },
                              "po_number": {
                                "type": "string",
                                "example": "some-po-number"
                              },
                              "purchase_order_type": {
                                "type": "string",
                                "example": "Test Department"
                              },
                              "requested_delivery_date": {
                                "type": "string",
                                "format": "date-time",
                                "example": "Thu, 15 Aug 2024 00:00:00 GMT"
                              },
                              "requested_ship_date": {
                                "type": "string",
                                "format": "date-time",
                                "example": "Thu, 08 Aug 2024 00:00:00 GMT"
                              },
                              "retailer_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "d11dd469-a41b-4f7e-9155-f97b00e03567"
                              },
                              "ship_from_contact_address_line1": {
                                "type": "string",
                                "example": "123 York St"
                              },
                              "ship_from_contact_address_line2": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "ship_from_contact_city": {
                                "type": "string",
                                "example": "San Francisco"
                              },
                              "ship_from_contact_country": {
                                "type": "string",
                                "example": "USA"
                              },
                              "ship_from_contact_name": {
                                "type": "string",
                                "example": "Test 3PL"
                              },
                              "ship_from_contact_state": {
                                "type": "string",
                                "example": "CA"
                              },
                              "ship_from_contact_zip": {
                                "type": "string",
                                "example": "94133"
                              },
                              "ship_to_contact_address_line1": {
                                "type": "string",
                                "example": "123 Union St"
                              },
                              "ship_to_contact_address_line2": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "ship_to_contact_city": {
                                "type": "string",
                                "example": "New York"
                              },
                              "ship_to_contact_country": {
                                "type": "string",
                                "example": "United States"
                              },
                              "ship_to_contact_name": {
                                "type": "string",
                                "example": "Test Retailer"
                              },
                              "ship_to_contact_province": {
                                "type": "string",
                                "example": "NY"
                              },
                              "ship_to_contact_zip": {
                                "type": "string",
                                "example": "10001"
                              },
                              "stage_by": {
                                "type": "string",
                                "format": "date-time",
                                "example": "Thu, 01 Aug 2024 00:00:00 GMT"
                              },
                              "transportation_method": {
                                "type": "string",
                                "example": "FREIGHT"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad request - validation error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "Error message"
                      },
                      "error": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "INVALID_REQUEST"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "message": "Failed to create order: warehouse_order_number is required",
                    "error": {
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          }
        }
    },
    "/api/v1/orders/{order_id}": {
      "get": {
        "summary": "Get Order Details",
        "description": "Get a breakdown of the pallets, cartons, and SKUs on an order",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the order"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order details retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "identifiers": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "944bf737-7860-4629-8933-d8e871f19d72"
                            },
                            "picksheet_code": {
                              "type": "string",
                              "example": "3132324301-9675"
                            },
                            "external_order_id": {
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "po_number": {
                              "type": "string",
                              "example": "3132324301"
                            },
                            "brand": {
                              "type": "object",
                              "properties": {
                                "external_brand_code": {
                                  "type": "string",
                                  "example": "d055c26e-fdb0-4b02-96ce-2b38ab3a6c8b",
                                  "nullable": true
                                }
                              }
                            },
                            "facility": {
                              "type": "object",
                              "properties": {
                                "external_facility_code": {
                                  "type": "string",
                                  "example": "c2f57b89-8d7c-4696-ab3c-02ca5eeef1a0",
                                  "nullable": true
                                }
                              }
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "example": "Packed"
                        },
                        "pallets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "26d9fa81-714a-43e2-a438-ec192b445f7e"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "staged_by": {
                                "type": "string",
                                "nullable": true,
                                "example": "John Doe"
                              },
                              "staged_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              },
                              "sscc": {
                                "type": "string",
                                "example": "00001234560000002822"
                              },
                              "status": {
                                "type": "string",
                                "example": "Loaded"
                              },
                              "cartonQuantity": {
                                "type": "integer",
                                "example": 1
                              },
                              "dim_unit": {
                                "type": "string",
                                "example": "in"
                              },
                              "height": {
                                "type": "number",
                                "example": 12
                              },
                              "width": {
                                "type": "number",
                                "example": 12
                              },
                              "length": {
                                "type": "number",
                                "example": 24
                              },
                              "weight_unit": {
                                "type": "string",
                                "example": "lb"
                              },
                              "weight": {
                                "type": "number",
                                "example": 15
                              },
                              "cartons": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "0eb578cd-c522-4ae0-8189-1419b58ddf96"
                                    },
                                    "sscc": {
                                      "type": "string",
                                      "example": "00001234560000002821"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "packed_by": {
                                      "type": "string",
                                      "nullable": true,
                                      "example": "John Doe"
                                    },
                                    "packing_complete_at": {
                                      "type": "string",
                                      "format": "date-time",
                                      "nullable": true
                                    },
                                    "dim_unit": {
                                      "type": "string",
                                      "example": "in"
                                    },
                                    "height": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "width": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "length": {
                                      "type": "number",
                                      "example": 20
                                    },
                                    "weight_unit": {
                                      "type": "string",
                                      "example": "lb"
                                    },
                                    "weight": {
                                      "type": "number",
                                      "example": 14
                                    },
                                    "skus": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "sku": {
                                            "type": "string",
                                            "example": "123"
                                          },
                                          "upc": {
                                            "type": "string",
                                            "example": "456"
                                          },
                                          "serial_numbers": {
                                            "type": "array",
                                            "nullable": true,
                                            "items": {
                                              "type": "string"
                                            },
                                            "example": [
                                              "123456789012345",
                                              "987654321098765",
                                              "456789012345678"
                                            ]
                                          },
                                          "quantity": {
                                            "type": "integer",
                                            "example": 3
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Authentication failed",
                  "error": {
                    "code": "UNAUTHORIZED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Order not found",
                  "error": {
                    "code": "NOT_FOUND"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Order details retrieval failed",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/orders/analytics/table": {
      "get": {
        "summary": "Get Orders Analytics Table v1",
        "description": "Fetches a paginated list of orders with analytics data.",
        "tags": ["Orders"],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          {
            "name": "page_size",
            "in": "query",
            "schema": { "type": "integer" }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "ship_window_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "ship_window_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "packed_at_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "packed_at_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "retailers",
            "in": "query",
            "schema": { "type": "string" }
          },
          { "name": "brands", "in": "query", "schema": { "type": "string" } },
          { "name": "asn", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of orders analytics table.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Orders analytics table retrieved successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "total_cartons": { "type": "integer", "example": 64 },
                          "total_labels": { "type": "integer", "example": 65 },
                          "unique_labels": { "type": "integer", "example": 65 },
                          "order_number": {
                            "type": "string",
                            "example": "0101109828"
                          },
                          "total_pallets": { "type": "integer", "example": 1 },
                          "unique_sku_count": { "type": "integer", "example": 1 },
                          "order_status": { "type": "string", "example": "Staged" },
                          "total_units": { "type": "integer", "example": 768 },
                          "total_vas_actions": { "type": "integer", "example": 0 },
                          "asn_sent_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      },
                      "example": [
                        {
                          "asn_sent_at": null,
                          "brand": "Brand1",
                          "total_cartons": 64,
                          "total_labels": 65,
                          "unique_labels": 65,
                          "order_number": "0101109828",
                          "total_pallets": 1,
                          "retailer": "Retailer1",
                          "unique_sku_count": 1,
                          "order_status": "Staged",
                          "total_units": 768,
                          "total_vas_actions": 0
                        },
                        {
                          "asn_sent_at": null,
                          "brand": "Brand1",
                          "total_cartons": 64,
                          "total_labels": 65,
                          "unique_labels": 65,
                          "order_number": "01009827",
                          "total_pallets": 1,
                          "retailer": "Retailer1",
                          "unique_sku_count": 1,
                          "order_status": "Staged",
                          "total_units": 768,
                          "total_vas_actions": 0
                        },
                        {
                          "asn_sent_at": "Fri, 07 Mar 2025 15:36:48 GMT",
                          "brand": "Brand1",
                          "total_cartons": 2,
                          "total_labels": 3,
                          "unique_labels": 3,
                          "Order ID": "01019824",
                          "total_pallets": 1,
                          "retailer": "Retailer1",
                          "unique_sku_count": 1,
                          "order_status": "Staged",
                          "total_units": 24,
                          "total_vas_actions": 0
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "error": {
                      "type": "object",
                      "properties": { "code": { "type": "string" } }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/orders/analytics/table/{facility_id}": {
      "get": {
        "summary": "Get Orders Analytics Table v2",
        "description": "Fetches a list of orders with analytics data for a specific facility.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "facility_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID of the facility to fetch orders for"
          },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          {
            "name": "page_size",
            "in": "query",
            "schema": { "type": "integer" }
          },
          {
            "name": "order_id",
            "in": "query",
            "schema": { 
              "type": "string",
              "description": "Filter results by specific order ID"
            }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "ship_window_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "ship_window_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "packed_at_from",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "packed_at_to",
            "in": "query",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "retailers",
            "in": "query",
            "schema": { "type": "string" }
          },
          { "name": "brands", "in": "query", "schema": { "type": "string" } },
          { "name": "asn", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of orders analytics table for facility.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Orders analytics table retrieved successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order_id": { 
                            "type": "string", 
                            "format": "uuid",
                            "example": "6f8d7e6a-5b4c-3d2e-1f0g-9h8i7j6k5l4m" 
                          },
                          "total_cartons": { "type": "integer", "example": 5 },
                          "total_labels": { "type": "integer", "example": 5 },
                          "unique_labels": { "type": "integer", "example": 5 },
                          "order_number": {
                            "type": "string",
                            "example": "83652219"
                          },
                          "total_pallets": { "type": "integer", "example": 2 },
                          "unique_sku_count": { "type": "integer", "example": 3 },
                          "order_status": { "type": "string", "example": "Shipped" },
                          "total_units": { "type": "integer", "example": 250 },
                          "total_vas_actions": { "type": "integer", "example": 2 },
                          "asn_sent_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "brand": { "type": "string", "example": "EcoGear" },
                          "retailer": { "type": "string", "example": "REI" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "order_id": "6f8d7e6a-5b4c-3d2e-1f0g-9h8i7j6k5l4m",
                      "asn_sent_at": "Mon, 15 Apr 2025 09:22:18 GMT",
                      "brand": "EcoGear",
                      "order_number": "83652219",
                      "order_status": "Shipped",
                      "retailer": "REI",
                      "total_cartons": 5,
                      "total_labels": 5,
                      "total_pallets": 2,
                      "total_units": 250,
                      "total_vas_actions": 2,
                      "unique_labels": 5,
                      "unique_sku_count": 3
                    },
                    {
                      "order_id": "7g9h8i7j-6k5l-4m3n-2o1p-0q9r8s7t6u5v",
                      "asn_sent_at": "Sun, 14 Apr 2025 14:55:32 GMT",
                      "brand": "OutdoorPro",
                      "order_number": "76291483",
                      "order_status": "Shipped",
                      "retailer": "Bass Pro Shops",
                      "total_cartons": 8,
                      "total_labels": 10,
                      "total_pallets": 3,
                      "total_units": 480,
                      "total_vas_actions": 4,
                      "unique_labels": 10,
                      "unique_sku_count": 6
                    },
                    {
                      "order_id": "8h0i9j8k-7l6m-5n4o-3p2q-1r0s9t8u7v6w",
                      "asn_sent_at": "Fri, 12 Apr 2025 08:17:45 GMT",
                      "brand": "TrekTech",
                      "order_number": "92748315",
                      "order_status": "Packed",
                      "retailer": "Dick's Sporting Goods",
                      "total_cartons": 12,
                      "total_labels": 12,
                      "total_pallets": 4,
                      "total_units": 720,
                      "total_vas_actions": 0,
                      "unique_labels": 12,
                      "unique_sku_count": 4
                    }
                  ],
                  "message": "Orders analytics table retrieved successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid facility ID or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Invalid facility ID format",
                  "error": {
                    "code": "INVALID_REQUEST"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Authentication failed",
                  "error": {
                    "code": "UNAUTHORIZED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Facility not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Facility not found",
                  "error": {
                    "code": "NOT_FOUND"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "error": {
                      "type": "object",
                      "properties": { "code": { "type": "string" } }
                    }
                  }
                },
                "example": {
                  "message": "Failed to retrieve orders analytics",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/compliance_report/binary/{order_id}": {
      "get": {
        "summary": "Get Compliance Report Binary",
        "description": "Get a compliance report binary for an order. This returns base64 encoded PDF content.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved compliance report binary",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string",
                      "description": "Suggested filename of the content",
                      "example": "compliance_report_g0f9e8d7-6i5j-4k3l-7m8n-9o0p4q5r6s7t.pdf"
                    },
                    "mime_type": {
                      "type": "string",
                      "description": "MIME type of the content",
                      "example": "application/pdf"
                    },
                    "pdf_content": {
                      "type": "string",
                      "description": "Base64 encoded PDF content",
                      "example": "JVBERi0xL..."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Authentication failed",
                  "error": {
                    "code": "UNAUTHORIZED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Compliance report not found for this order",
                  "error": {
                    "code": "NOT_FOUND"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": "Failed to generate compliance report: Order not found",
                  "order_id": "g0f9e8d7-6i5j-4k3l-7m8n-9o0p4q5r6s7t"
                }
              }
            }
          }
        }
      }
    }

  },

  "components": {
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "User's username"
          },
          "password": {
            "type": "string",
            "description": "User's password",
            "format": "password"
          }
        },
        "required": ["username", "password"]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token"
          },
          "token_type": {
            "type": "string",
            "description": "Type of token"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Contact Name"
          },
          "address_line1": {
            "type": "string",
            "description": "Street Address"
          },
          "address_line2": {
            "type": "string",
            "nullable": true,
            "description": "Address Line 2"
          },
          "city": {
            "type": "string",
            "description": "City Name"
          },
          "state": {
            "type": "string",
            "description": "State"
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "zip": {
            "type": "string",
            "description": "Postal Code"
          },
          "facility_code": {
            "type": "string",
            "description": "Facility Code"
          },
          "address_number": {
            "type": "string",
            "description": "Address Number"
          }
        },
        "required": ["name", "address_line1", "city", "state", "country", "zip"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
