{
  "openapi": "3.0.0",
  "info": {
    "title": "Authentication API",
    "description": "API for user authentication and token generation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.retailreadyai.com/",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.example.com/v1",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/api/auth/token": {
      "post": {
        "summary": "Authenticate",
        "description": "Exchange email and password for a JWT access token",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User's email"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password",
                    "format": "password"
                  }
                },
                "required": ["email", "password"]
              },
              "example": {
                "email": "john@doe.com",
                "password": "JohnDoe123!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "API token issued successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "description": "JWT access token"
                        },
                        "token_type": {
                          "type": "string",
                          "description": "Type of token"
                        },
                        "expires_in": {
                          "type": "integer",
                          "description": "Token expiration time in seconds"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "API token issued successfully",
                  "data": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "token_type": "Bearer",
                    "expires_in": 86400
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Missing parameters",
                  "error": {
                    "code": "INVALID_REQUEST"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid credentials"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Invalid credentials",
                  "error": {
                    "code": "INVALID_CREDENTIALS"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error Object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Internal server error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/orders/{order_id}": {
      "get": {
        "summary": "Get Order Details",
        "description": "Get a breakdown of the pallets, cartons, and SKUs on an order",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the order"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order details retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "identifiers": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "944bf737-7860-4629-8933-d8e871f19d72"
                            },
                            "picksheet_code": {
                              "type": "string",
                              "example": "3132324301-9675"
                            },
                            "external_order_id": {
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "po_number": {
                              "type": "string",
                              "example": "3132324301"
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "example": "Packed"
                        },
                        "pallets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "26d9fa81-714a-43e2-a438-ec192b445f7e"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "staged_by": {
                                "type": "string",
                                "nullable": true,
                                "example": "John Doe"
                              },
                              "staged_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              },
                              "sscc": {
                                "type": "string",
                                "example": "00001234560000002821"
                              },
                              "status": {
                                "type": "string",
                                "example": "Loaded"
                              },
                              "cartonQuantity": {
                                "type": "integer",
                                "example": 1
                              },
                              "dim_unit": {
                                "type": "string",
                                "example": "in"
                              },
                              "height": {
                                "type": "number",
                                "example": 12
                              },
                              "width": {
                                "type": "number",
                                "example": 12
                              },
                              "length": {
                                "type": "number",
                                "example": 24
                              },
                              "weight_unit": {
                                "type": "string",
                                "example": "lb"
                              },
                              "weight": {
                                "type": "number",
                                "example": 15
                              },
                              "cartons": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "0eb578cd-c522-4ae0-8189-1419b58ddf96"
                                    },
                                    "sscc": {
                                      "type": "string",
                                      "example": "00001234560000002821"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "packed_by": {
                                      "type": "string",
                                      "nullable": true,
                                      "example": "John Doe"
                                    },
                                    "packing_complete_at": {
                                      "type": "string",
                                      "format": "date-time",
                                      "nullable": true
                                    },
                                    "dim_unit": {
                                      "type": "string",
                                      "example": "in"
                                    },
                                    "height": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "width": {
                                      "type": "number",
                                      "example": 10
                                    },
                                    "length": {
                                      "type": "number",
                                      "example": 20
                                    },
                                    "weight_unit": {
                                      "type": "string",
                                      "example": "lb"
                                    },
                                    "weight": {
                                      "type": "number",
                                      "example": 14
                                    },
                                    "skus": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "sku": {
                                            "type": "string",
                                            "example": "123"
                                          },
                                          "upc": {
                                            "type": "string",
                                            "example": "456"
                                          },
                                          "serial_numbers": {
                                            "type": "array",
                                            "nullable": true,
                                            "items": {
                                              "type": "string"
                                            },
                                            "example": [
                                              "123456789012345",
                                              "987654321098765",
                                              "456789012345678"
                                            ]
                                          },
                                          "quantity": {
                                            "type": "integer",
                                            "example": 3
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Authentication failed",
                  "error": {
                    "code": "UNAUTHORIZED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Order not found",
                  "error": {
                    "code": "NOT_FOUND"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Order details retrieval failed",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "User's username"
          },
          "password": {
            "type": "string",
            "description": "User's password",
            "format": "password"
          }
        },
        "required": ["username", "password"]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token"
          },
          "token_type": {
            "type": "string",
            "description": "Type of token"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
